/* possible color pallet #808080 (light gray) #575757 (dark gray) #f4f4f4 (white) #050505 (black) */

body {
	color: #575757;
}

h1, h2, h3, h4, h5 {
	font-family: 'Droid Serif', serif;
}


/* start game screen */
#start-game-screen {
	position: fixed;
	height: 100%;
	width: 100%;
	padding: 1em;
	text-align: center;
	background: rgba(244, 244, 244, .8);
}

	#start-game-screen {
		padding-top: 10%;
	}

	#start-game {
		margin: 5em 0;
	}

	#start-game-screen p {
		font-family: 'Droid Serif', serif;
	}


/* game screen and end game screen */
#game-screen, #end-game-screen {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 2em 0;
	background: rgba(244, 244, 244, .8);
}

	.question-timer {
		font-size: 2em;
		text-align: center;
	}

	#q-display {
		padding: 2em 1em;
		text-align: center;
	}

	#correct-incorrect-display {
		height: 80px;
		padding: 0 1em;
		text-align: center;
	}

	.answers-list li, #stats-list li {
		float: left;
		width: 50%;
		cursor: pointer;
		padding: 32px 1em;
		height: 80px;
		border: none;
		border-bottom: 1px solid #808080;
		background: rgba(244, 244, 244, .8);
	}

	.answers-list li:nth-of-type(3), .answers-list li:nth-of-type(4), .stats-list li:nth-of-type(3), .stats-list li:nth-of-type(4) {
		border-bottom: none;
	}

	.answers-list li:hover {
		background: rgba(244, 244, 244, .9);
	}

	#end-game-screen p, #end-game-screen h1 {
		text-align: center;
	}


/* animated background */
#animated-bg-container {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

	#animated-bg {
		height: 2000px;
		width: 100%;
		position: absolute;
		bottom: 0px;
		overflow: hidden;
		background: #575757;
	}

		#space {
			height: 500px;
			width: 100%;
			position: absolute;
			bottom: 0;
			background: url(../images/earth.png) no-repeat bottom center;
		}