/* possible color pallet #808080 (light gray) #575757 (dark gray) #f4f4f4 (white) #050505 (black) */

body {
	color: #f4f4f4;
}

h1, h2, h3, h4, h5 {
	font-family: 'Droid Serif', serif;
}

p {
	line-height: 1.7em;
}

button {
	font-family: 'Droid Serif', serif;
}


/* start game screen */
#start-game-screen {
	position: fixed;
	height: 100%;
	width: 100%;
	text-align: center;
	background: rgba(5, 5, 5, .8);
}

	.border {
		height: 94%;
		width: 96%;
		margin: 2%;
		border: 1px solid #808080;
	}

	#start-game-screen h1 {
		padding-top: 12%;
	}

	.translation {
		font-style: italic;
	}

	#start-game {
		margin: 5em 0;
	}

	#start-game-screen p {
		font-family: 'Droid Serif', serif;
	}


/* game screen and end game screen */
#game-screen, #end-game-screen {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(5, 5, 5, .8);
}


	#q-display, .youtube-message {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.youtube-message {
		margin-bottom: 2em;
	}

#end-game-screen {
	text-align: center;
}

	.question-timer {
		padding-top: 1em;
		font-size: 2em;
		text-align: center;
	}

	#q-display {
		padding: 2em 1em;
		text-align: center;
	}

	#correct-incorrect-display {
		height: 80px;
		padding: 0 1em;
		text-align: center;
	}

	.answers-list li {
		float: left;
		width: 50%;
		cursor: pointer;
		padding: 32px 1em;
		height: 80px;
		border: none;
		font-family: 'Droid Serif', serif;
		background: rgba(5, 5, 5, .8);
	}

	.answers-list li:hover {
		background: rgba(5, 5, 5, .9);
	}

	#restart-buttons, #color-restart {
		margin: 2em 0;
	}

	.begin-stats {
		margin-top: 3em;
	}

	#color-restart {
		border: none;
		color: #fff;
		font-weight: bold;
		background: rgba(232,125,116,1);
		background: -moz-linear-gradient(left, rgba(232,125,116,1) 0%, rgba(232,125,116,1) 2%, rgba(75,214,142,1) 28%, rgba(93,209,244,1) 50%, rgba(249,175,245,1) 75%, rgba(247,247,57,1) 98%, rgba(247,247,57,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,125,116,1)), color-stop(2%, rgba(232,125,116,1)), color-stop(28%, rgba(75,214,142,1)), color-stop(50%, rgba(93,209,244,1)), color-stop(75%, rgba(249,175,245,1)), color-stop(98%, rgba(247,247,57,1)), color-stop(100%, rgba(247,247,57,1)));
		background: -webkit-linear-gradient(left, rgba(232,125,116,1) 0%, rgba(232,125,116,1) 2%, rgba(75,214,142,1) 28%, rgba(93,209,244,1) 50%, rgba(249,175,245,1) 75%, rgba(247,247,57,1) 98%, rgba(247,247,57,1) 100%);
		background: -o-linear-gradient(left, rgba(232,125,116,1) 0%, rgba(232,125,116,1) 2%, rgba(75,214,142,1) 28%, rgba(93,209,244,1) 50%, rgba(249,175,245,1) 75%, rgba(247,247,57,1) 98%, rgba(247,247,57,1) 100%);
		background: -ms-linear-gradient(left, rgba(232,125,116,1) 0%, rgba(232,125,116,1) 2%, rgba(75,214,142,1) 28%, rgba(93,209,244,1) 50%, rgba(249,175,245,1) 75%, rgba(247,247,57,1) 98%, rgba(247,247,57,1) 100%);
		background: linear-gradient(to right, rgba(232,125,116,1) 0%, rgba(232,125,116,1) 2%, rgba(75,214,142,1) 28%, rgba(93,209,244,1) 50%, rgba(249,175,245,1) 75%, rgba(247,247,57,1) 98%, rgba(247,247,57,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e87d74', endColorstr='#f7f739', GradientType=1 );
	}


/* animated background */
#animated-bg-container {
	z-index: -2;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

	#animated-bg {
		height: 5000px;
		width: 100%;
		
		overflow: hidden;
		background: #575757;
		background: #575757 url(../images/animated-bg.jpg) no-repeat bottom center;
	}

	.animate-bg-0 {
		position: absolute;
		transition: 5s;
		bottom: 0px;
	}

	.animate-bg-1 {
		transition: 5s;
		bottom: -1000px;
	}

	.animate-bg-2 {
		transition: 5s;
		bottom: -2000px;
	}

	.animate-bg-3 {
		transition: 5s;
		bottom: -3000px;
	}

	.animate-bg-4 {
		transition: 5s;
		bottom: -4000px;
	}

	.animate-bg-5 {
		transition: 5s;
		bottom: -5000px;
	}

		.b-and-w {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}

		#triangulated {
			height: 1000px;
			width: 100%;
			position: absolute;
			bottom: 2000px;
			background: url(../images/triangulated.jpg) no-repeat bottom center;
		}

		#moon-landing {
			height: 1000px;
			width: 100%;
			position: absolute;
			bottom: 1000px;
			background: url(../images/moon-landing.png) no-repeat bottom center;
		}

		#mountains-sky {
			height: 1000px;
			width: 100%;
			position: absolute;
			bottom: 0;
			background: url(../images/mountains-sky.png) no-repeat bottom center;
		}


#grain {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../images/grain.png);
}


/* Media Querries */
@media (min-width: 700px) { 

	#q-display, .youtube-message {
		width: 75%;
	}

}

@media (min-width: 1500px) { 

	#q-display, .youtube-message {
		width: 65%;
	}

}