/* possible color pallet #808080 (light gray) #575757 (dark gray) #f4f4f4 (white) #050505 (black) */

body {
	color: #f4f4f4;
}

h1, h2, h3, h4, h5 {
	font-family: 'Droid Serif', serif;
}

p {
	line-height: 1.7em;
}


/* start game screen */
#start-game-screen {
	position: fixed;
	height: 100%;
	width: 100%;
	padding: 1em;
	text-align: center;
	background: rgba(5, 5, 5, .8);
}

	#start-game-screen {
		padding-top: 10%;
	}

	.translation {
		font-style: italic;
	}

	#start-game {
		margin: 5em 0;
	}

	#start-game-screen p {
		font-family: 'Droid Serif', serif;
	}


/* game screen and end game screen */
#game-screen, #end-game-screen {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 2em 0;
	background: rgba(5, 5, 5, .8);
}

#end-game-screen {
	padding: 2em 1em;
	text-align: center;
}

	.question-timer {
		font-size: 2em;
		text-align: center;
	}

	#q-display {
		padding: 2em 1em;
		text-align: center;
	}

	#correct-incorrect-display {
		height: 80px;
		padding: 0 1em;
		text-align: center;
	}

	.answers-list li, #stats-list li {
		float: left;
		width: 50%;
		cursor: pointer;
		padding: 32px 1em;
		height: 80px;
		border: none;
		border-bottom: 1px solid #808080;
		background: rgba(5, 5, 5, .8);
	}

	.answers-list li:nth-of-type(3), .answers-list li:nth-of-type(4), .stats-list li:nth-of-type(3), .stats-list li:nth-of-type(4) {
		border-bottom: none;
	}

	.answers-list li:hover {
		background: rgba(5, 5, 5, .9);
	}

	#reset-game {
		margin: 2em 0;
	}

	.begin-stats {
		margin-top: 3em;
	}


/* animated background */
#animated-bg-container {
	z-index: -2;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

	#animated-bg {
		height: 5000px;
		width: 100%;
		
		overflow: hidden;
		background: #575757;
		background: #575757 url(../images/animated-bg.jpg) no-repeat bottom center;
	}

	.animate-bg-0 {
		position: absolute;
		transition: 5s;
		bottom: 0px;
	}

	.animate-bg-1 {
		transition: 5s;
		bottom: -1000px;
	}

	.animate-bg-2 {
		transition: 5s;
		bottom: -2000px;
	}

	.animate-bg-3 {
		transition: 5s;
		bottom: -3000px;
	}

	.animate-bg-4 {
		transition: 5s;
		bottom: -4000px;
	}

	.animate-bg-5 {
		transition: 5s;
		bottom: -5000px;
	}

		.b-and-w {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}

		#triangulated {
			height: 1000px;
			width: 100%;
			position: absolute;
			bottom: 2000px;
			background: url(../images/triangulated.jpg) no-repeat bottom center;
		}

		#moon-landing {
			height: 1000px;
			width: 100%;
			position: absolute;
			bottom: 1000px;
			background: url(../images/moon-landing.png) no-repeat bottom center;
		}

		#mountains-sky {
			height: 1000px;
			width: 100%;
			position: absolute;
			bottom: 0;
			background: url(../images/mountains-sky.png) no-repeat bottom center;
		}


#grain {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../images/grain.png);
}